.Cards {
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.App {
    background: hsl(240, 78%, 98%);
    height: 100vh;
    background-image: url(../../../public/images/bg-top.svg),
        url(../../../public/images/bg-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 25%;
    background-position: top right, left bottom;
    font-family: 'Montserrat', sans-serif;
}
* {
    font-family: 'Montserrat', sans-serif;
}
